main{
    div{
        .container__contact{
            

            .contact__form{
                display: grid;
                grid-template-columns: 1;
                justify-content: center;

                .form{
                    display: flex;
                    flex-direction: column;
                    width: 50vw;
                    margin-top: 2em;
                    margin-left: 2em;

                    input{
                        padding: 10px 20px;
                        margin-bottom: 1em;
                        background: none;
                        border: none;
                        border-bottom: 1px solid black;
                    }

                    textarea{
                        height: 150px;
                        background: none;
                        border: 1px solid black;
                    }

                    .btn-submit{
                        padding: 10px 20px;
                        margin: 1em;
                        border: none;
                        text-transform: uppercase;
                        background-color: $colorDefault;
                        border-radius: 20px;
                        cursor: pointer;
                    }

                    .btn-submit:hover{
                        background-color: black;
                        color: #fff;
                    }
                }
            }
        }
    }
}