main{
    div{
        div{
            div{
                div{
                    div{
                        i{
                            font-size: 2em;
                            color: $colorDefault;
                        }
                    }
                }
            }
        }
    }
}